# dd-docker-tools.rb, rendered from dd-docker-tools.rb.j2
#
# DesmoDyne DockerTools brew formula
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2019-03-31


# see also dd-bash-lib.rb


class DdDockerTools < Formula
  desc     "DesmoDyne DockerTools"
  homepage "{{ homepage }}"
  url      "{{ archive_url }}"
  sha256   "{{ sha256_sum }}"

  # req'd for realpath and others
  depends_on "coreutils"
  depends_on "desmodyne/tools/dd-bash-lib"
  depends_on "docker"
  depends_on "docker-compose"
  depends_on "jq"
  depends_on "pipenv"
  depends_on "yq"

  def install
    bin.install      Dir["code/bin/*"]
    # TODO: this should probably
    # be installed somewhere else
    bin.install      Dir["code/python/*"]
    pkgshare.install Dir["code/tmpl/*"]
  end
end
