---
# dd-dt-run-remote.yaml, rendered from dd-dt-run-remote.yaml.j2
#
# dd-dt-run-remote script configuration file
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2020-02-18


# TODO: see dd-dt-run-image.yaml.j2


# path from this file to root of client project
path_to_client_root:   {{ path_to_client_root }}

# path to local temp folder, relative to client project root
path_to_local_tmp:     {{ path_to_local_tmp }}

# name of remote host
# NOTE: this expects SSH access to be configured in ~/.ssc/config
host_name:             {{ host_name }}

# list of scripts to run on remote host in the order defined here;
# must be available in local PATH on remote host;
# for each script, a matching conf file will be copied to remote
script_names:
{%- for script_name in script_names %}
- {{ script_name }}
{%- endfor %}
