---
# dd-dt-run-remote.yaml, rendered from dd-dt-run-remote.yaml.j2
#
# dd-dt-run-remote script configuration file
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2020-02-18


# TODO: see dd-dt-run-image.yaml.j2


# path from this file to root of client project
path_to_client_root:   {{ path_to_client_root }}

# path to local temp folder, relative to client project root
path_to_local_tmp:     {{ path_to_local_tmp }}

# name of remote host
# NOTE: this expects SSH access to be configured in ~/.ssc/config
host_name:             {{ host_name }}

# list of files to copy to remote host before scripts are run;
# for example, script conf files; docker-compose files, etc.
# TODO: copy scripts not available on remote host ?
# TODO: currently, a conf file for each script to run is copied
files_to_copy:
{%- for file_to_copy in files_to_copy %}
- {{ file_to_copy }}
{%- endfor %}

# list of scripts to run on remote host in the order defined here;
# must be available in local PATH on remote host;
# TODO: run scripts copied to remote host ?
scripts_to_run:
{%- for script_to_run in scripts_to_run %}
- {{ script_to_run }}
{%- endfor %}

# TODO: files to fetch after scripts are run, e.g. docker volume backup
